In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
import pandas as pd
import tensorflow as tf
import psycopg2
import sqlalchemy
from sqlalchemy import create_engine
engine = sqlalchemy.create_engine('postgresql://postgres:lolhehe0103@localhost:5432/Athletes_Career_Lifetimes')
#Import directly from SQL
all_start_df = pd.read_sql_table("all_data", engine)
# all_start_df

# Import our input dataset
# all_start_df = pd.read_csv("../Data/Clean_Data/all_data.csv", sep=",", encoding='latin-1')
all_start_df.head()

,playerid,sport,position,start_year,start_age,years_played,retire_year,retire_age
0,Konstantin Koltsov\koltsko01,NHL,LW,2006,24,1,2006.0,24.0
1,Pete Verhoeven,NBA,F,1982,19,6,1987.0,24.0
2,Lars Hansen,NBA,C,1979,37,1,1979.0,37.0
3,fukudko01,mlb,G_of,2008,31,5,2012.0,35.0
4,spurlch01,mlb,G_p,2003,26,5,2007.0,30.0

In [2]:
del all_start_df['playerid']
del all_start_df['retire_age']
del all_start_df['retire_year']
all_start_df

      sport position  start_year  start_age  years_played
0       NHL       LW        2006         24             1
1       NBA        F        1982         19             6
2       NBA        C        1979         37             1
3       mlb     G_of        2008         31             5
4       mlb      G_p        2003         26             5
...     ...      ...         ...        ...           ...
10451   NHL        C        2006         23             2
10452   mlb      G_p        1995         31             1
10453   mlb     G_of        1998         24            11
10454   mlb     G_if        2007         25            11
10455   mlb     G_if        2004         25             4

[10456 rows x 5 columns]

In [3]:
# Take rows out that are 0 in years_played
all_start_df = all_start_df[(all_start_df["years_played"] > 0)]
all_start_df = all_start_df[(all_start_df["start_age"] > 17)]
# all_start_df = all_start_df[(all_start_df["start_age"] < 31)]
all_start_df

      sport position  start_year  start_age  years_played
0       NHL       LW        2006         24             1
1       NBA        F        1982         19             6
2       NBA        C        1979         37             1
3       mlb     G_of        2008         31             5
4       mlb      G_p        2003         26             5
...     ...      ...         ...        ...           ...
10451   NHL        C        2006         23             2
10452   mlb      G_p        1995         31             1
10453   mlb     G_of        1998         24            11
10454   mlb     G_if        2007         25            11
10455   mlb     G_if        2004         25             4

[9981 rows x 5 columns]

In [4]:
all_start_df = all_start_df[all_start_df.position != 'multi']
all_start_df

      sport position  start_year  start_age  years_played
0       NHL       LW        2006         24             1
1       NBA        F        1982         19             6
2       NBA        C        1979         37             1
3       mlb     G_of        2008         31             5
4       mlb      G_p        2003         26             5
...     ...      ...         ...        ...           ...
10451   NHL        C        2006         23             2
10452   mlb      G_p        1995         31             1
10453   mlb     G_of        1998         24            11
10454   mlb     G_if        2007         25            11
10455   mlb     G_if        2004         25             4

[9527 rows x 5 columns]

In [5]:
# Generate our categorical variable list
start_cat = all_start_df.dtypes[all_start_df.dtypes == "object"].index.tolist()


# Check the number of unique values in each column
all_start_df[start_cat].nunique()

sport        4
position    15
dtype: int64

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(all_start_df[start_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(start_cat)
encode_df.head()

,sport_NBA,sport_NFL,sport_NHL,sport_mlb,position_C,position_CB,position_D,position_F,position_G,position_G_c,position_G_if,position_G_of,position_G_p,position_LB,position_LW,position_QB,position_RB,position_RW,position_WR
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
# Merge one-hot encoded features and drop the originals
all_start_df = all_start_df.merge(encode_df,left_index=True, right_index=True)
all_start_df = all_start_df.drop(start_cat,1)
all_start_df.head()

,start_year,start_age,years_played,sport_NBA,sport_NFL,sport_NHL,sport_mlb,position_C,position_CB,position_D,...,position_G_c,position_G_if,position_G_of,position_G_p,position_LB,position_LW,position_QB,position_RB,position_RW,position_WR
0,2006,24,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,1982,19,6,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1979,37,1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2008,31,5,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2003,26,5,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
# Remove years_played target from features data
y = all_start_df.years_played.values
X = all_start_df.drop(columns=["years_played"]).values

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [9]:
# Create the SVM model
# svm = SVC(kernel='linear')

# Train the model
# svm.fit(X_train, y_train)

# Evaluate the model
# y_pred = svm.predict(X_test)
# print(f" SVM model accuracy: {accuracy_score(y_test,y_pred):.3f}")

In [10]:
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  125
hidden_nodes_layer2 = 25

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn.compile(loss="categorical_crossentropy", optimizer="adam", metrics=["accuracy"])
nn.output_shape

(None, 1)

In [11]:
# Train the model 
fit_model = nn.fit(X_train_scaled, y_train, epochs=20) 
# Evaluate the model using the test data 
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/30
204/204 [==============================] - 1s 1ms/step - loss: 0.0000e+00 - accuracy: 0.2520
Epoch 2/30
204/204 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.2522
Epoch 3/30
204/204 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.2522
Epoch 4/30
204/204 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.2522
Epoch 5/30
204/204 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.2522
Epoch 6/30
204/204 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.2522
Epoch 7/30
204/204 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.2522
Epoch 8/30
204/204 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.2522
Epoch 9/30
204/204 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.2522
Epoch 10/30
204/204 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.2522
Epoch 11/30
204/204 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.2522
Epoch 12/30
204/204 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.2522
Epoch 13/30
204/204 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.2522
Epoch 14/30
204/204 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.2522
Epoch 15/30
204/204 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.2522
Epoch 16/30
204/204 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.2522
Epoch 17/30
204/204 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.2522
Epoch 18/30
204/204 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.2522
Epoch 19/30
204/204 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.2522
Epoch 20/30
204/204 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.2522
Epoch 21/30
204/204 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.2522
Epoch 22/30
204/204 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.2522
Epoch 23/30
204/204 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.2522
Epoch 24/30
204/204 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.2522
Epoch 25/30
204/204 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.2522
Epoch 26/30
204/204 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.2522
Epoch 27/30
204/204 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.2522
Epoch 28/30
204/204 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.2522
Epoch 29/30
204/204 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.2522
Epoch 30/30
204/204 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.2522
68/68 - 0s - loss: 0.0000e+00 - accuracy: 0.2420
Loss: 0.0, Accuracy: 0.2420470267534256