In [1]:
# Import Dependencies
import pandas as pd
import numpy as np
#from sklearn.preprocessing import LabelEncoder
import sqlalchemy
from sqlalchemy import create_engine
import psycopg2
#postgresql://user:password@localhost:5432/databasename
engine = sqlalchemy.create_engine('postgresql://postgres:(password)@localhost:5432/Athletes_Career_Lifetimes')

# Import File
nhl_df = pd.read_csv("../../Data/DataSet/NHL.csv", sep=",", encoding='latin-1')
nhl_df

,Rk,sport,Player,Age,Pos,Tm,GP,G,A,PTS,...,TOI,ATOI,BLK,HIT,FOW,FOL,FO_percent,HART,Votes,Season
0,1,NHL,Connor McDavid\mcdavco01,20,C,EDM,82,30,70,100,...,1733,21.133333,29.0,34,348.0,458.0,43.2,1,1604,2017
1,2,NHL,Sidney Crosby\crosbsi01,29,C,PIT,75,44,45,89,...,1491,19.883333,27.0,80,842.0,906.0,48.2,0,1104,2017
2,3,NHL,Patrick Kane\kanepa01,28,RW,CHI,82,34,55,89,...,1754,21.400000,15.0,28,7.0,44.0,13.7,0,206,2017
3,4,NHL,Nicklas Backstrom\backsni02,29,C,WSH,82,23,63,86,...,1497,18.266667,33.0,45,685.0,648.0,51.4,0,60,2017
4,5,NHL,Nikita Kucherov\kucheni01,23,RW,TBL,74,40,45,85,...,1438,19.433333,20.0,30,0.0,0.0,0.0,0,119,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13181,886,NHL,Zach Trotman\trotmza01,27,D,PIT,3,0,0,0,...,38,12.800000,2.0,1,0.0,0.0,NaN,0,0,2018
13182,887,NHL,Dominic Turgeon\turgedo01,21,C,DET,5,0,0,0,...,46,9.200000,8.0,3,7.0,14.0,33.3,0,0,2018
13183,888,NHL,Rinat Valiev\valieri01,22,D,MTL,2,0,0,0,...,24,11.800000,2.0,0,0.0,0.0,NaN,0,0,2018
13184,889,NHL,Curtis Valk\valkcu01,24,LW,FLA,1,0,0,0,...,3,3.400000,0.0,1,0.0,3.0,0.0,0,0,2018
13185,890,NHL,Zach Whitecloud\whiteza01,21,D,VEG,1,0,0,0,...,17,16.700000,1.0,0,0.0,0.0,NaN,0,0,2018

In [2]:
# Keep Players who played after 2004
nhl_df = nhl_df[(nhl_df["Season"] > 2004)]
nhl_df

,Rk,sport,Player,Age,Pos,Tm,GP,G,A,PTS,...,TOI,ATOI,BLK,HIT,FOW,FOL,FO_percent,HART,Votes,Season
0,1,NHL,Connor McDavid\mcdavco01,20,C,EDM,82,30,70,100,...,1733,21.133333,29.0,34,348.0,458.0,43.2,1,1604,2017
1,2,NHL,Sidney Crosby\crosbsi01,29,C,PIT,75,44,45,89,...,1491,19.883333,27.0,80,842.0,906.0,48.2,0,1104,2017
2,3,NHL,Patrick Kane\kanepa01,28,RW,CHI,82,34,55,89,...,1754,21.400000,15.0,28,7.0,44.0,13.7,0,206,2017
3,4,NHL,Nicklas Backstrom\backsni02,29,C,WSH,82,23,63,86,...,1497,18.266667,33.0,45,685.0,648.0,51.4,0,60,2017
4,5,NHL,Nikita Kucherov\kucheni01,23,RW,TBL,74,40,45,85,...,1438,19.433333,20.0,30,0.0,0.0,0.0,0,119,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13181,886,NHL,Zach Trotman\trotmza01,27,D,PIT,3,0,0,0,...,38,12.800000,2.0,1,0.0,0.0,NaN,0,0,2018
13182,887,NHL,Dominic Turgeon\turgedo01,21,C,DET,5,0,0,0,...,46,9.200000,8.0,3,7.0,14.0,33.3,0,0,2018
13183,888,NHL,Rinat Valiev\valieri01,22,D,MTL,2,0,0,0,...,24,11.800000,2.0,0,0.0,0.0,NaN,0,0,2018
13184,889,NHL,Curtis Valk\valkcu01,24,LW,FLA,1,0,0,0,...,3,3.400000,0.0,1,0.0,3.0,0.0,0,0,2018
13185,890,NHL,Zach Whitecloud\whiteza01,21,D,VEG,1,0,0,0,...,17,16.700000,1.0,0,0.0,0.0,NaN,0,0,2018

In [3]:
# Keep Players who played before 2018
nhl_df = nhl_df[(nhl_df["Season"] < 2018)]
nhl_df

,Rk,sport,Player,Age,Pos,Tm,GP,G,A,PTS,...,TOI,ATOI,BLK,HIT,FOW,FOL,FO_percent,HART,Votes,Season
0,1,NHL,Connor McDavid\mcdavco01,20,C,EDM,82,30,70,100,...,1733,21.133333,29.0,34,348.0,458.0,43.2,1,1604,2017
1,2,NHL,Sidney Crosby\crosbsi01,29,C,PIT,75,44,45,89,...,1491,19.883333,27.0,80,842.0,906.0,48.2,0,1104,2017
2,3,NHL,Patrick Kane\kanepa01,28,RW,CHI,82,34,55,89,...,1754,21.400000,15.0,28,7.0,44.0,13.7,0,206,2017
3,4,NHL,Nicklas Backstrom\backsni02,29,C,WSH,82,23,63,86,...,1497,18.266667,33.0,45,685.0,648.0,51.4,0,60,2017
4,5,NHL,Nikita Kucherov\kucheni01,23,RW,TBL,74,40,45,85,...,1438,19.433333,20.0,30,0.0,0.0,0.0,0,119,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11375,1724,NHL,Joey Tenute\tenutjo01,22,C,WSH,1,0,0,0,...,7,7.350000,0.0,0,0.0,0.0,0.0,0,0,2006
11376,1725,NHL,Shawn Thornton\thornsh01,28,D,CHI,10,0,0,0,...,73,7.300000,0.0,0,0.0,0.0,0.0,0,0,2006
11377,1726,NHL,Ole-Kristian Tollefsen\tolleol01,21,D,CBJ,5,0,0,0,...,82,16.300000,0.0,0,0.0,0.0,0.0,0,0,2006
11378,1727,NHL,Patrick Traverse\travepa01,31,D,DAL,1,0,0,0,...,11,11.450000,0.0,0,0.0,0.0,0.0,0,0,2006
11379,1728,NHL,Ben Walter\waltebe01,21,C,BOS,6,0,0,0,...,71,11.816667,0.0,0,0.0,0.0,0.0,0,0,2006

In [4]:
# Filter necessary columns
nhl_df = nhl_df[['Player','sport', 'Age', 'Pos', 'Season']]
nhl_df

                                 Player sport  Age Pos  Season
0              Connor McDavid\mcdavco01   NHL   20   C    2017
1               Sidney Crosby\crosbsi01   NHL   29   C    2017
2                 Patrick Kane\kanepa01   NHL   28  RW    2017
3           Nicklas Backstrom\backsni02   NHL   29   C    2017
4             Nikita Kucherov\kucheni01   NHL   23  RW    2017
...                                 ...   ...  ...  ..     ...
11375             Joey Tenute\tenutjo01   NHL   22   C    2006
11376          Shawn Thornton\thornsh01   NHL   28   D    2006
11377  Ole-Kristian Tollefsen\tolleol01   NHL   21   D    2006
11378        Patrick Traverse\travepa01   NHL   31   D    2006
11379              Ben Walter\waltebe01   NHL   21   C    2006

[11380 rows x 5 columns]

In [5]:
# Filter players to youngest age starting at 2005
min_age_df = nhl_df.groupby(["Player"])["sport","Age", "Pos", "Season"].min().reset_index()
min_age_df

C:\Users\shiha\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

                           Player sport  Age Pos  Season
0            A.J. Greer\greeraj01   NHL   20  LW    2017
1          Aaron Downey\downeaa01   NHL   31  RW    2006
2          Aaron Ekblad\ekblaaa01   NHL   18   D    2015
3          Aaron Gagnon\gagnoaa01   NHL   23   C    2010
4           Aaron Gavey\gaveyaa01   NHL   31   C    2006
...                           ...   ...  ...  ..     ...
2379      Zdenek Blatny\blatnzd01   NHL   25  LW    2006
2380        Zdeno Chara\charazd01   NHL   28   D    2006
2381  Zemgus Girgensons\girgeze01   NHL   20   C    2014
2382      Zenon Konopka\konopze01   NHL   25   C    2006
2383       Ziggy Palffy\palffzi01   NHL   33  RW    2006

[2384 rows x 5 columns]

In [6]:
# Filter players to oldest age starting ending at 2017
max_age_df = nhl_df.groupby(["Player"])["sport","Age", "Pos", "Season"].max().reset_index()
max_age_df

C:\Users\shiha\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

                           Player sport  Age Pos  Season
0            A.J. Greer\greeraj01   NHL   20  LW    2017
1          Aaron Downey\downeaa01   NHL   34  RW    2009
2          Aaron Ekblad\ekblaaa01   NHL   20   D    2017
3          Aaron Gagnon\gagnoaa01   NHL   26   C    2013
4           Aaron Gavey\gaveyaa01   NHL   31   C    2006
...                           ...   ...  ...  ..     ...
2379      Zdenek Blatny\blatnzd01   NHL   25  LW    2006
2380        Zdeno Chara\charazd01   NHL   39   D    2017
2381  Zemgus Girgensons\girgeze01   NHL   23   C    2017
2382      Zenon Konopka\konopze01   NHL   33   C    2014
2383       Ziggy Palffy\palffzi01   NHL   33  RW    2006

[2384 rows x 5 columns]

In [7]:
# Assign min df to start df
start_nhl_df = min_age_df

start_nhl_df["Years_Played"] = (max_age_df["Age"] - min_age_df["Age"]) + 1

# Rename columns
start_nhl_df = start_nhl_df.rename(columns={'Player': 'playerID', 'Age': 'start_age', 'Pos': 'position', 'Season': 'start_year', 'Years_Played': 'years_played'})

# Reorder columns
start_nhl_df = start_nhl_df[['playerID','sport', 'position', 'start_year', 'start_age', 'years_played']]

# Display Data Frame
start_nhl_df

,playerID,sport,position,start_year,start_age,years_played
0,A.J. Greer\greeraj01,NHL,LW,2017,20,1
1,Aaron Downey\downeaa01,NHL,RW,2006,31,4
2,Aaron Ekblad\ekblaaa01,NHL,D,2015,18,3
3,Aaron Gagnon\gagnoaa01,NHL,C,2010,23,4
4,Aaron Gavey\gaveyaa01,NHL,C,2006,31,1
...,...,...,...,...,...,...
2379,Zdenek Blatny\blatnzd01,NHL,LW,2006,25,1
2380,Zdeno Chara\charazd01,NHL,D,2006,28,12
2381,Zemgus Girgensons\girgeze01,NHL,C,2014,20,4
2382,Zenon Konopka\konopze01,NHL,C,2006,25,9
2383,Ziggy Palffy\palffzi01,NHL,RW,2006,33,1

In [8]:
# Get rid of multiple positions
start_nhl_df = start_nhl_df[start_nhl_df.position != 'LW/C']
start_nhl_df = start_nhl_df[start_nhl_df.position != 'LW/RW']
start_nhl_df['position'].describe()

count     2382
unique       4
top          D
freq       812
Name: position, dtype: object

In [9]:
start_nhl_df['position'].unique()

array(['LW', 'RW', 'D', 'C'], dtype=object)

In [10]:
#lbl_encode = LabelEncoder()
#lbl_encode.fit_transform(start_nhl_df['position'])

In [11]:
#start_nhl_df['positions'] = lbl_encode.fit_transform(start_nhl_df['position'])
# NHL position changed to numerical form
#start_nhl_df['positions'].value_counts()

In [12]:
#add_columns = pd.get_dummies(start_nhl_df['position'])
#add_columns

In [13]:
#start_nhl_df.join(add_columns)

In [14]:
start_nhl_df.head()

                 playerID sport position  start_year  start_age  years_played
0    A.J. Greer\greeraj01   NHL       LW        2017         20             1
1  Aaron Downey\downeaa01   NHL       RW        2006         31             4
2  Aaron Ekblad\ekblaaa01   NHL        D        2015         18             3
3  Aaron Gagnon\gagnoaa01   NHL        C        2010         23             4
4   Aaron Gavey\gaveyaa01   NHL        C        2006         31             1

In [15]:
#start_nhl_df.drop(['positions'], axis = 1, inplace = True)
#start_nhl_df = start_nhl_df.join(add_columns)

# Reorder columns
start_nhl_df = start_nhl_df[['playerID','sport','position', 'start_year', 'start_age', 'years_played']]
start_nhl_df

,playerID,sport,position,start_year,start_age,years_played
0,A.J. Greer\greeraj01,NHL,LW,2017,20,1
1,Aaron Downey\downeaa01,NHL,RW,2006,31,4
2,Aaron Ekblad\ekblaaa01,NHL,D,2015,18,3
3,Aaron Gagnon\gagnoaa01,NHL,C,2010,23,4
4,Aaron Gavey\gaveyaa01,NHL,C,2006,31,1
...,...,...,...,...,...,...
2379,Zdenek Blatny\blatnzd01,NHL,LW,2006,25,1
2380,Zdeno Chara\charazd01,NHL,D,2006,28,12
2381,Zemgus Girgensons\girgeze01,NHL,C,2014,20,4
2382,Zenon Konopka\konopze01,NHL,C,2006,25,9
2383,Ziggy Palffy\palffzi01,NHL,RW,2006,33,1

In [16]:
# Export as CSV
#start_nhl_df.to_csv("../../Data/Clean_Data/clean_start_nhl.csv", index=False)

In [17]:
# Assign max df to end df
end_nhl_df = max_age_df

end_nhl_df["Years_Played"] = (max_age_df["Age"] - min_age_df["Age"]) + 1

# Rename columns
end_nhl_df = end_nhl_df.rename(columns={'Player': 'playerID', 'Age': 'retire_age', 'Pos': 'position', 'Season': 'retire_year', 'Years_Played': 'years_played'})

# Reorder columns
end_nhl_df = end_nhl_df[['playerID','sport', 'position', 'retire_year', 'retire_age', 'years_played']]

# Display Data Frame
end_nhl_df

,playerID,sport,position,retire_year,retire_age,years_played
0,A.J. Greer\greeraj01,NHL,LW,2017,20,1
1,Aaron Downey\downeaa01,NHL,RW,2009,34,4
2,Aaron Ekblad\ekblaaa01,NHL,D,2017,20,3
3,Aaron Gagnon\gagnoaa01,NHL,C,2013,26,4
4,Aaron Gavey\gaveyaa01,NHL,C,2006,31,1
...,...,...,...,...,...,...
2379,Zdenek Blatny\blatnzd01,NHL,LW,2006,25,1
2380,Zdeno Chara\charazd01,NHL,D,2017,39,12
2381,Zemgus Girgensons\girgeze01,NHL,C,2017,23,4
2382,Zenon Konopka\konopze01,NHL,C,2014,33,9
2383,Ziggy Palffy\palffzi01,NHL,RW,2006,33,1

In [18]:
# Get rid of multiple positions
end_nhl_df = end_nhl_df[end_nhl_df.position != 'C/LW']
end_nhl_df = end_nhl_df[end_nhl_df.position != 'RW/LW']
end_nhl_df = end_nhl_df[end_nhl_df.position != 'LW/C']
end_nhl_df['position'].describe()

count     2381
unique       4
top          D
freq       794
Name: position, dtype: object

In [19]:
end_nhl_df['position'].unique()

array(['LW', 'RW', 'D', 'C'], dtype=object)

In [20]:
#lbl_encode = LabelEncoder()
#lbl_encode.fit_transform(end_nhl_df['position'])

In [21]:
#end_nhl_df['positions'] = lbl_encode.fit_transform(end_nhl_df['position'])
# NHL position changed to numerical form
#end_nhl_df['positions'].value_counts()

In [22]:
#add_columns = pd.get_dummies(end_nhl_df['position'])
#add_columns

In [23]:
#end_nhl_df.join(add_columns)

In [24]:
#end_nhl_df.drop(['positions'], axis = 1, inplace = True)
#end_nhl_df = end_nhl_df.join(add_columns)


# Reorder columns
end_nhl_df = end_nhl_df[['playerID','sport', 'position', 'retire_year', 'retire_age', 'years_played']]
end_nhl_df

,playerID,sport,position,retire_year,retire_age,years_played
0,A.J. Greer\greeraj01,NHL,LW,2017,20,1
1,Aaron Downey\downeaa01,NHL,RW,2009,34,4
2,Aaron Ekblad\ekblaaa01,NHL,D,2017,20,3
3,Aaron Gagnon\gagnoaa01,NHL,C,2013,26,4
4,Aaron Gavey\gaveyaa01,NHL,C,2006,31,1
...,...,...,...,...,...,...
2379,Zdenek Blatny\blatnzd01,NHL,LW,2006,25,1
2380,Zdeno Chara\charazd01,NHL,D,2017,39,12
2381,Zemgus Girgensons\girgeze01,NHL,C,2017,23,4
2382,Zenon Konopka\konopze01,NHL,C,2014,33,9
2383,Ziggy Palffy\palffzi01,NHL,RW,2006,33,1

In [25]:
# Export as CSV
#end_nhl_df.to_csv("../../Data/Clean_Data/clean_retire_nhl.csv", index=False)

In [26]:
start_nhl_df.dtypes

playerID        object
sport           object
position        object
start_year       int64
start_age        int64
years_played     int64
dtype: object

In [27]:
start_nhl_df.to_sql(
    name='nhl_starting',
    con=engine,
    index=False,
    if_exists='replace'
)

In [28]:
end_nhl_df.to_sql(
    name='nhl_retiring',
    con=engine,
    index=False,
    if_exists='replace'
)