In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
import pandas as pd
import tensorflow as tf

#import sqlalchemy
#from sqlalchemy import create_engine
#engine = sqlalchemy.create_engine('postgresql://postgres:gonoles@localhost:5432/Athletes_Career_Lifetimes')
#Import directly from SQL
#all_start_df = pd.read_sql_table("all_data", engine)
#all_start_df

# Import our input dataset
all_start_df = pd.read_csv("../Data/Clean_Data/all_data.csv", sep=",", encoding='latin-1')
all_start_df.head()

,playerID,sport,position,start_year,start_age,years_played
0,A.J. Greer\greeraj01,Hockey,LW,2017,20,1
1,Aaron Downey\downeaa01,Hockey,RW,2006,31,4
2,Aaron Ekblad\ekblaaa01,Hockey,D,2015,18,3
3,Aaron Gagnon\gagnoaa01,Hockey,C,2010,23,4
4,Aaron Gavey\gaveyaa01,Hockey,C,2006,31,1

In [2]:
del all_start_df['playerID']
all_start_df.head()

    sport position  start_year  start_age  years_played
0  Hockey       LW        2017         20             1
1  Hockey       RW        2006         31             4
2  Hockey        D        2015         18             3
3  Hockey        C        2010         23             4
4  Hockey        C        2006         31             1

In [3]:
# Generate our categorical variable list
start_cat = all_start_df.dtypes[all_start_df.dtypes == "object"].index.tolist()


# Check the number of unique values in each column
all_start_df[start_cat].nunique()

sport        3
position    15
dtype: int64

In [4]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(all_start_df[start_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(start_cat)
encode_df.head()

,sport_Hockey,sport_NFL,sport_mlb,position_C,position_CB,position_D,position_G_c,position_G_if,position_G_of,position_G_p,position_LB,position_LW,position_LW/C,position_LW/RW,position_QB,position_RB,position_RW,position_WR
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
# Merge one-hot encoded features and drop the originals
all_start_df = all_start_df.merge(encode_df,left_index=True, right_index=True)
all_start_df = all_start_df.drop(start_cat,1)
all_start_df.head()

,start_year,start_age,years_played,sport_Hockey,sport_NFL,sport_mlb,position_C,position_CB,position_D,position_G_c,...,position_G_of,position_G_p,position_LB,position_LW,position_LW/C,position_LW/RW,position_QB,position_RB,position_RW,position_WR
0,2017,20,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2006,31,4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,2015,18,3,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2010,23,4,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2006,31,1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
# Remove years_played target from features data
y = all_start_df.years_played.values
X = all_start_df.drop(columns=["years_played"]).values

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [10]:
# Create the SVM model
svm = SVC(kernel='linear')

# Train the model
svm.fit(X_train, y_train)

# Evaluate the model
y_pred = svm.predict(X_test_scaled)
print(f" SVM model accuracy: {accuracy_score(y_test,y_pred):.3f}")

 SVM model accuracy: 0.198

In [14]:
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  5
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [15]:
# Train the model 
fit_model = nn.fit(X_train_scaled, y_train, epochs=50) 
# Evaluate the model using the test data 
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/50
207/207 [==============================] - 0s 427us/step - loss: -7.2670 - accuracy: 0.2169
Epoch 2/50
207/207 [==============================] - 0s 418us/step - loss: -57.2826 - accuracy: 0.2182
Epoch 3/50
207/207 [==============================] - 0s 423us/step - loss: -228.2714 - accuracy: 0.2182
Epoch 4/50
207/207 [==============================] - 0s 413us/step - loss: -630.2698 - accuracy: 0.2182
Epoch 5/50
207/207 [==============================] - 0s 423us/step - loss: -1342.6091 - accuracy: 0.2182
Epoch 6/50
207/207 [==============================] - 0s 423us/step - loss: -2407.5635 - accuracy: 0.2182
Epoch 7/50
207/207 [==============================] - 0s 418us/step - loss: -3870.3289 - accuracy: 0.2182
Epoch 8/50
207/207 [==============================] - 0s 408us/step - loss: -5765.5171 - accuracy: 0.2182
Epoch 9/50
207/207 [==============================] - 0s 403us/step - loss: -8123.1543 - accuracy: 0.2182
Epoch 10/50
207/207 [==============================] - 0s 398us/step - loss: -10966.7422 - accuracy: 0.2182
Epoch 11/50
207/207 [==============================] - 0s 398us/step - loss: -14320.5850 - accuracy: 0.2182
Epoch 12/50
207/207 [==============================] - 0s 403us/step - loss: -18204.0391 - accuracy: 0.2182
Epoch 13/50
207/207 [==============================] - 0s 398us/step - loss: -22643.0547 - accuracy: 0.2182
Epoch 14/50
207/207 [==============================] - 0s 398us/step - loss: -27662.6387 - accuracy: 0.2182
Epoch 15/50
207/207 [==============================] - 0s 398us/step - loss: -33285.4023 - accuracy: 0.2182
Epoch 16/50
207/207 [==============================] - 0s 408us/step - loss: -39508.2578 - accuracy: 0.2182
Epoch 17/50
207/207 [==============================] - 0s 403us/step - loss: -46345.6523 - accuracy: 0.2182
Epoch 18/50
207/207 [==============================] - 0s 413us/step - loss: -53796.3398 - accuracy: 0.2182
Epoch 19/50
207/207 [==============================] - 0s 412us/step - loss: -61885.5352 - accuracy: 0.2182
Epoch 20/50
207/207 [==============================] - 0s 428us/step - loss: -70631.1094 - accuracy: 0.2182
Epoch 21/50
207/207 [==============================] - 0s 418us/step - loss: -80051.7734 - accuracy: 0.2182
Epoch 22/50
207/207 [==============================] - 0s 423us/step - loss: -90163.4922 - accuracy: 0.2182
Epoch 23/50
207/207 [==============================] - 0s 423us/step - loss: -100978.1406 - accuracy: 0.2182
Epoch 24/50
207/207 [==============================] - 0s 428us/step - loss: -112487.5078 - accuracy: 0.2182
Epoch 25/50
207/207 [==============================] - 0s 428us/step - loss: -124727.4297 - accuracy: 0.2182
Epoch 26/50
207/207 [==============================] - 0s 418us/step - loss: -137704.7500 - accuracy: 0.2182
Epoch 27/50
207/207 [==============================] - 0s 423us/step - loss: -151409.6250 - accuracy: 0.2182
Epoch 28/50
207/207 [==============================] - 0s 418us/step - loss: -165859.8906 - accuracy: 0.2182
Epoch 29/50
207/207 [==============================] - 0s 423us/step - loss: -181082.9062 - accuracy: 0.2182
Epoch 30/50
207/207 [==============================] - 0s 418us/step - loss: -197073.6406 - accuracy: 0.2182
Epoch 31/50
207/207 [==============================] - 0s 413us/step - loss: -213875.4375 - accuracy: 0.2182
Epoch 32/50
207/207 [==============================] - 0s 423us/step - loss: -231524.4062 - accuracy: 0.2182
Epoch 33/50
207/207 [==============================] - 0s 413us/step - loss: -250026.2969 - accuracy: 0.2182
Epoch 34/50
207/207 [==============================] - 0s 418us/step - loss: -269386.1875 - accuracy: 0.2182
Epoch 35/50
207/207 [==============================] - 0s 408us/step - loss: -289616.3750 - accuracy: 0.2182
Epoch 36/50
207/207 [==============================] - 0s 403us/step - loss: -310742.0938 - accuracy: 0.2182
Epoch 37/50
207/207 [==============================] - 0s 398us/step - loss: -332746.7500 - accuracy: 0.2182
Epoch 38/50
207/207 [==============================] - 0s 408us/step - loss: -355593.3438 - accuracy: 0.2182
Epoch 39/50
207/207 [==============================] - 0s 408us/step - loss: -379355.0000 - accuracy: 0.2182
Epoch 40/50
207/207 [==============================] - 0s 418us/step - loss: -404075.0938 - accuracy: 0.2182
Epoch 41/50
207/207 [==============================] - 0s 423us/step - loss: -429738.6562 - accuracy: 0.2182
Epoch 42/50
207/207 [==============================] - 0s 418us/step - loss: -456354.8125 - accuracy: 0.2182
Epoch 43/50
207/207 [==============================] - 0s 418us/step - loss: -483926.6562 - accuracy: 0.2182
Epoch 44/50
207/207 [==============================] - 0s 418us/step - loss: -512553.2500 - accuracy: 0.2182
Epoch 45/50
207/207 [==============================] - 0s 418us/step - loss: -542203.6875 - accuracy: 0.2182
Epoch 46/50
207/207 [==============================] - 0s 408us/step - loss: -572851.5000 - accuracy: 0.2182
Epoch 47/50
207/207 [==============================] - 0s 413us/step - loss: -604569.1250 - accuracy: 0.2182
Epoch 48/50
207/207 [==============================] - 0s 408us/step - loss: -637348.3750 - accuracy: 0.2182
Epoch 49/50
207/207 [==============================] - 0s 403us/step - loss: -671171.0000 - accuracy: 0.2182
Epoch 50/50
207/207 [==============================] - 0s 403us/step - loss: -706035.0000 - accuracy: 0.2182
69/69 - 0s - loss: -7.3371e+05 - accuracy: 0.2138
Loss: -733705.5625, Accuracy: 0.2137681096792221